<!DOCTYPE html>
<html>

<head>
    <title>Comidas del dia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <% include layouts/header %>
    </header>
    <br>
    <div class="container">
        <div class="col-xs-12 col-lg-2">
            <button type="button" class="btn-block btn btn-success">Añadir </button>
        </div>
        <br>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>primerPlato</th>
                    <th>segundoPlato</th>
                    <th>postre</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i< comidas.length; i++) {%>
                    <tr>
                        <td>
                            <p>
                                <%= comidas[i].nombre%>
                            </p>
                        </td>
                        <td>
                            <%= comidas[i].primerPlato %>
                        </td>
                        <td>
                            <p>
                                <%= comidas[i].segundoPlato %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= comidas[i].postre %>
                            </p>
                        </td>
                        <td>
                            <form action="/comida/<%= comidas[i].id %>/delete" method="POST">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        </div>
    </div>
    <footer>
        <% include layouts/footer %>
    </footer>
</body>

</html>